@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--vt-c-black);
}

@media (hover: hover) {
  a:hover {
    background-color: crimson;
  }
}
